.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 25px;
    padding-top: 50px;
}

.dropdown{
    position: absolute;
    display: inline-block;
    min-width: 200px;
}

.dropdown-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.btn-slide{
    display: block;
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}
  
/* Кнопка выпадающего меню при наведении и фокусировке */
.btn-slide:hover, .dropbtn:focus {
    background-color: red;
}

.active{
    background-color: greenyellow;
}

h2 {
    font: bold 190%/100% Arial, Helvetica, sans-serif;
    margin: 0 0 .2em;
}

h2 em {
    font: normal 80%/100% Arial, Helvetica, sans-serif;
    color: #999999;
}

#largeImg {
    border: solid 1px #ccc;
    max-width: 550px;
    min-height: 400px;
    padding: 5px;
}

.thumbs img {
    border: solid 1px #ccc;
    width: 100px;
    height: 100px;
    padding: 4px;
}

.thumbs img:hover {
    border-color: #FF9900;
}

.movie_img_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}